# Ignore system and editor files
.DS_Store
Thumbs.db
.vscode/

# Ignore environment-specific files
.env

# Ignore dependencies directories
node_modules/
venv/

# Ignore build files
dist/
build/

# Ignore log files
logs/

# Ignore temporary files
*.tmp
*.log
